.historyContainer {

  width: 600px;
  border-left: 1px solid #999999;
  border-right: 1px solid #999999;
  margin-bottom: 50px;
  padding-bottom: 50px;
}

.titleHistory {
  font-size: 30px;
  margin-bottom: 20px;
  color: #333333;
}

.titleHistory_item {
  margin-bottom: 10px;
  color: #333333;
}

.histolyListContainer {
  background: rgb(224, 224, 224);
  margin: 20px 100px;
  padding: 20px 0;
  border: 1px solid #999999;
  border-radius: 5px;
}